<style>
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
  }

  section * {
    outline: black dotted 2px;
  }
</style>

<section>
  <app-counter></app-counter>

  <app-accordian></app-accordian>

  <mat-slider min="0" max="100" step="10" discrete>
    <input matSliderThumb
  /></mat-slider>

  <mat-form-field>
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker" />
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <p matTooltip="Tooltip">Hover</p>

  <app-fetch></app-fetch>
</section>
